body {
	margin: 0;
  	background: #2a323d;
}

canvas {
	margin: auto;
	max-width: 100%;
	max-height: 80%;
	position: absolute;
	left: 0;
	right: 0;
	top: 20%;
	bottom: 0;
	transition: all 1s ease;
}

canvas.inactive {
	max-height: 0%;
}

button {
	border: none;
	color: #ffab40;
	font-size: x-large;
	background: #242a33;
	text-align: center;
	transition: all .2s ease;
}

button:hover {
    color: #ffd8a6;
    background-color: #2C333F;
    cursor: pointer;
}

.shop {
	position: absolute;
	top: 0;
	height: 20%;
	width: 100%;
	background-color: #333c4a;
	box-shadow: 2px 2px 3px #222;
	z-index: 1;
	display: flex;
	transition: all 1s ease;
}

.shop.inactive {
	top: -20%;
}

.tab-buttons {
	height: 100%;
    width: 20%;
    max-width: 100px;
    min-width: 9em;
}

.tab-button {
	height: 50%;
	width: 100%;
	overflow-x: auto;
}

.tab-button p {
	margin: 0;
    font-size: small;
}

.tab {
	height: 100%;
	overflow-x: auto;
	padding: 8px;
	box-sizing: border-box;
	white-space: nowrap;
}

.tab button {
	min-width: 100px;
    height: 100%;
    margin-right: 4px;
}

.shop-item {
	border: none;
    font-size: x-large;
    background: #242a33;
    text-align: center;
    transition: all .2s ease;
    height: 100%;
    position: relative;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 8px;
	border-radius: 4px;
}

.shop-item button {
	height: unset;
	font-size: large;
	margin-right: unset;
}

.item-name {
    margin: 0;
    font-size: large;
    color: white;
	margin: 8px;
}

.quantity {
	background-color: red;
    border-radius: 20px;
    position: absolute;
    right: -2px;
    bottom: -2px;
    font-size: medium;
    height: 1em;
    padding: 0 4px 2px 4px;
}
